.Button {
    background-color: white;
    border: 1px solid var(--twitter-color);
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px 0;
    font-weight: bold;
    border-radius: 30px;
    box-sizing: border-box;
}

/* .Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
} */

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.SignUp {
    background-color: var(--twitter-color);
    color: white;
    width: 300px;
    margin-left: 0;
}



.SignUp:hover {
    background-color: #0a5c80;
}

.signIn {
    background-color: white;
    color: var(--twitter-color);
    width: 300px;
    margin-left: 0;
}

.signIn:hover {
    background-color: var(--twitter-hover);
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}

.Login {
    background-color: var(--twitter-color);
    color: white;
    width: 400px;
    margin-left: 0;
}

.Login:hover {
    background-color: #0484d4
}

.SideBar {
    background-color: #50b7f5;
    border: none;
    color: white;
    font-weight: 900;
    text-transform: inherit;
    height: 50px;
    margin-top: 20px;
}

@media (max-width: 600px) {
    .SignIn {
        margin: 10px;
    }
    .SignUp {
        margin: 10px;
    }
    .Login {
        margin: 10px;
        width: 80%;
    }
}