.userHeader {
    position: sticky;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    top: 0;
    background-color: white;
    z-index: 90;
    border-bottom: 1px solid var(--twitter-background);
    padding: 5px 20px;
    cursor: pointer;
}

.userHeader > h2 {
    font-size: 15px;
    font-weight: 800;
    margin-left: 20px;
}

.userHeader .MuiSvgIcon-root {
    color: var(--twitter-color) !important;
    font-size: 25px !important;
    padding: 10px;
}

.userHeader .MuiSvgIcon-root:hover {
    background-color: var(--twitter-hover);
    width: auto;
    border-radius: 50%;
    transition: color 100ms ease-out;
}