.logoutBarOutline {
    margin-top: auto;
}

.logoutBar {
    display: flex;
    align-items: center;
    padding: 10px;
}

.logoutBar:hover{
    background-color: #e8f5fe;
    border-radius: 30px;
    transition: color 100ms ease-out;
    cursor: pointer;
}

.displayName {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.moreIcon {
    margin-left: auto;
}

.userName {
    font-size: 14px;
    color: var(--twitter-usernameColor);
}

.logoutTooltip_container {
    height: 100%;
    width: 100%;
}

.logoutTooltip_container > p {
    align-items: center;
    padding: 15px 10px;
    border-top: 1px solid var(--twitter-background);
    margin: 0;
    font-size: 15px;
    cursor: pointer;
}

.logoutTooltip_container > p:hover {
    background-color: #f5f8fa;
}



.logoutTooltip_1 {
    height: 40%;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.logout_checkIcon {
    margin-left: auto;
    color: var(--twitter-color);
    margin-right: 10px;
    width: 20px !important;
}
