.SideAuth {
    flex: 0.3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--twitter-color);
    box-sizing: border-box;
}

.SideAuth img {
    width: 50%;
    height: auto;
}

@media (max-width: 600px) {
    .SideAuth {
        display: none;
    }
}