.tweetBox {
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background);
    padding-right: 10px;
}

.tweetBox > form {
    display: flex;
    flex-direction: column;
}

.tweetBox_input {
    padding: 20px;
    display: flex;
    align-items: center;
}

.tweetBox_input > input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
}

.tweetBox_input > input:focus {
    outline-color: var(--twitter-color);
}

.tweetBox_footer {
    display: flex;
    align-items: center;

}

.tweetBox_icons {
    display: flex;
    justify-content: space-between;
    width: 30%;
    color: var(--twitter-color);
    margin-left: 70px;

}

.tweetBox_icons .MuiSvgIcon-root {
    color: var(--twitter-color) !important;
    font-size: 25px !important;
    padding: 10px;
    cursor: pointer;
}

.tweetBox_icons .MuiSvgIcon-root:hover {
    background-color: var(--twitter-hover);
    width: auto;
    border-radius: 50%;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
}

.tweetBox_button {
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 80px !important;
    height: 40px !important;
    margin-left: auto !important;
}



